body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  background: #fefdfe;
  color: #5e5ee3;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* unvisited link */
a:link {
  color: #aeaffe;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0d0c94;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e6fe1b;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #000fb;
  text-decoration: none;
}
